*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
[class^="col"]{
    float: left;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.primary-color{
    color: #f60;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
    color: #999;
    
}
a:hover{
    text-decoration: none;
    color: red;
    cursor: pointer;   
}

body{
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}
div,ul,li{
    box-sizing: border-box;
}
.border{
    border: 1px solid #ccc;
}
.border-top{
    border-top: 1px solid #ccc;
}
.border-left{
    border-left: 1px solid #ccc;
}
.border-right{
    border-right: 1px solid #ccc;
}
.border-bottom{
    border-bottom: 1px solid #ccc;
}
.bgcolor{
    background-color: #eee;
}
.bgcred{
    background-color:red;
}
.bgcgreen{
    background-color:green;
}
.bgcyellow{
    background-color: yellow;
}
.bgcorange{
    background-color: #f90;
}
.bgcpink{
    background-color: pink;
}
.bgcgrey{
    background-color: grey;
}
.bgcbrown{
    background-color: brown;
}